.header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position:fixed;
    top: 0;
    background-color: white;
    height: 4vh;
    width: 97vw;
}
.header-bar span{
    font-size: 20px;
    position: relative;
    top: -20px;
}
.Wrapper{
    margin: 0;
}
.Wrapper img{
    width: 50px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 20px;
    padding: 0.5rem ;
}
nav ul li a:hover,
nav ul li a.active{
    border: 1px solid #d0ae81;
    color: #d0ae81;
    border-radius: 20px;
    padding: 5px 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -2px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding:0 2px;
  }
.sidenav-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color:#d0ae81; 
    padding: 10px;
    color: black; 
    margin-bottom: 20px; 
}
.sidenav-header .closebtn {
    font-size: 32px;
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
    padding: 5px 10px;
}
.sidenav p {
    margin: 15px ;
    text-align: center;
}
.sidenav .btn {
    color: #d0ae81; 
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #d0ae81;
    border-radius: 20px;
    cursor: pointer;
}
.sidenav .btn:hover {
    background-color: black; 
    background-color: white;
    color: black;
}
.topSlider {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    background-color: black;
    overflow-y: hidden;
    padding: 0;
  }
.topSlider .closebtn {
    font-size: 60px;
    font-weight: 800;
    color: white; 
    text-decoration: none; 
    cursor: pointer; 
     float: right;
     padding-right: 20px;
}
.Content {
    width: 100%;
    max-width: 700px; /* Limit the width of the form area */
    background-color: none;
    padding: 30px; /* Add padding around the content */
    border-radius: 10px; /* Rounded corners */
    color: white; /* Text color */
    margin:10% auto;
}
.Content h1{
    padding-left: 7rem;
}
.Content p{
    padding-left: 7rem;
}
.Content form {
    width: 100%;
    max-width: 500px;
    background-color: none;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: white;
    text-align: left;
    line-height: 3rem;
}
.hero {
    display: flex;
    justify-content: space-between;
    background-color: rgba(247, 245, 245, 0.521);
}
.main-data {
    margin: 200px auto;
    padding: 1rem;
    
}
.main-data h1{
    font-weight: 800;
    max-width: 20rem;
    font-size: 4em;
}
.main-data p{
    font-size: 2em;
    font-weight: 300;
}
.main-data button{
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    padding:  1rem 1.5rem;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #d0ae81;
    border: #d0ae81;
}
.about {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #f2ece4;
    padding: 5em;
}
.about img {
    margin: 0 auto;
   
  
    align-content: center;
    margin: 10% auto;
}
.data {
    margin: 15% auto;
    width: 600px;

}
.data p{
    font-size: 20px;
    font-weight: 300;
    padding-left: none;
}
.data h2{
    font-size: 3em;

}
.categories {
    text-align: center;
    padding: 4em;
    background-color: #f4f4f4;
}
.categories a{
    text-decoration: none;
}
.store{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 4em;
    column-gap: 30px;
    justify-content: center;
    
}

.card{
    max-width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: transform 0.3s;
    z-index: 1;
    grid-area: 10px;
}
.card:hover {
    transform: scale(1.1);
}
.wrap {
    color: white;
    padding-top: 3em;
    font-size: 2em;
}
.wrapp{
    font-size: 1em;
    color: white;
}
.wrapper{
    display: flex;
}
.container {
    background-color: #f2ece4;
    text-align: center;
   width: 30%;
   padding-top: 10em;
}
.container h1{
    font-size: 4em;
    text-align: left;
    padding: 0 1em;
}
.container p{
    font-size: 1.5em;
    text-align: left;
    margin-left: 3em;
    font-weight: 300;
    line-height: 10px;
}
.services{
    text-align: center;
    padding: 4em;
    background-color: #f4f4f4;
}
.sections{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: center;
    gap: 10px;
   padding: 1em 5em;
}
.section{
    background-color: #f2ece4;
    text-align: justify;
    padding-top: 30%;
    padding-left: 20px;
    padding-right: 20px;
}
.sectionImg{
     width: 500px;
     height: 300px; 
     background-repeat: no-repeat;
}
.testimonials{
    text-align: center;
    padding: 2em;
    background-color: #f2ece4;
}
.flex {
    display: flex;
    justify-content: center;
    padding: 2em;
    gap: 40px;
}
.checked{
    color: orange;
}
.container1{
    background-color: white;
    padding: 20px;
}
.container1 h2{
    text-align: left;
}
.container1 p{
    font-weight: 300;
}
.main-wrapper{
    height: 800px;
    background-position: center;
}
.contact{
    text-align: center;
    background-color: #f2ece4;
    padding: 2em;
}
.btn-categories,
.btn-contact {
    cursor: pointer;
}
form {
    max-width: 500px;
    text-align: left;
    line-height: 8rem;
}
form input,
form textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgb(102, 99, 99);
}
.btn {
    display: inline-block;
    padding: 1rem;
    background-color: #d0ae81;
    width: 100%;
    border-radius: 20px;
    line-height: 20px;
    cursor: pointer;
}
.formInput{
    display: flex; 
    gap: 30px; 
    justify-content: space-between;
}
.formInputs{
    flex-direction: column;
    max-width: 50%;
}
.content{
    line-height: 2rem;
    margin-top: 5rem;   
}
.content a{
    text-decoration: none;
}
.flex1{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    gap: 40px;
}
.wrapper2{
    margin: 2em;
    text-align: center;
}
.wrapper2 ul{
    list-style: none;
    display: flex;
     gap: 1em; 
     width: 30%;
     margin:auto;
    text-align: center;
}
.wrapper2 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}
#chat{
    position: fixed;
    right: 1.5rem;
    bottom: 2%;
    cursor: pointer;
    color: black;
    background-color: #d0ae81;
    padding: 1rem;
    border-radius: 40px;
    font-size: 25px;
}
#chat::before{
    content: icon;
}
#chat:hover::before{
    content: "\f00d";
    padding: 0 10px;
}
#social-icons{
    display: none;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    bottom: 10%;
    right: 1.5rem;
    color: white;
}
 #whatsapp{
    background-color: green;
    font-size: 35px;
    padding: 1rem;
    border-radius: 40px;
    text-align: center;
}
#call{
    background-color: red;
    font-size: 25px;
    padding: 1rem;
    border-radius: 40px;
    text-align: center;
}
#chat:hover + #social-icons {
    display: flex;
}
#scrollUp{
    position: fixed;
    bottom: 2%;
    right: 6%;
    color: white;
    background-color: gray;
    padding: 1rem;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.category{
    background-color: #f2ece4;
    margin:auto;
    padding: 2px 20rem 8rem 20rem;
    
}
.category h1{
    text-align: center;
    font-size: 4rem;
}
.category span{
    color: #d0ae81;
}
.grid{
    display: grid;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}
.grid h3, p{
    margin: 14px;
}
.grid p{
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
/* Add responsive design */

@media (max-width: 768px) {
    nav{
        justify-content: end;
        width: 75% !important;
    }
    nav ul{
        gap: 0;
    }
    .navImg{
        display: none;
    }
    .main-data{
        margin: 0;
        padding: 4rem;
    }
    .hero img{
        width: 40% !important;
    }
    .about img{
       width: 60% !important;
       height: 500px !important;
    }
    .data{
        margin-top: 0;
        padding: 0 20px;
    }
    .store{
        row-gap: 20px;
    }
    .wrapper img{
        width: 60% !important;
    }
    .container{
        padding: 5px;    
        width: 300px !important;
    }
    .container h1 {
        font-size: 2rem;
    }
    .container p{
        line-height: none;
    }
    .sections{
        grid-template-columns: repeat(2,3fr);
    }
    .section{
        width: 300px !important;
    }
    .sectionImg{
        width: 300px !important;
    }
    .wrapper2 ul{
        margin: 2rem !important;
    }
    .flex{
        gap: 20px;
    }
    .content{
        margin: 5rem 20px;
    }
    form{
        overflow: hidden;
    }
    #scrollUp{
        right: 13% !important;
    }
}
@media (max-width: 320px) {
    .Wrapper img{
       width: 30px !important;
    }
    .Wrapper span{
        font-size: 14px !important;

    }
    nav{
        width: 5% !important;
    }
    .navLink{
        display: none;
    }
   .navImg{
    display: block;
    padding: 5px;
   }
   .hero{
    flex-direction: column !important;
    background-color: rgba(247, 245, 245, 0.521);
    width: 100vw !important;
   }
   .main-data{
    width: 500px !important;
   }
   .hero img{
    width: 100% !important;
   }
   .about{
    flex-direction: column-reverse;
    text-align: left;
    width: 100vw !important;
   }
   .data{
    width: 250px !important;
   }
   .about img{
    width: 100% !important;
   }
   .categories{
    width: 100vw !important;
   }
   .store{
    padding: 0 !important;
    row-gap: 20px;
    width: 400px !important;
   }
   .wrapper{
    flex-direction: column-reverse;
    background-color: #f2ece4;
    width: 100vw;
   }
   .wrapper img{
    width: 100% !important;
   }
   .container h1{
    padding-left: 5rem;
   }
   .container p{
    line-height: 2rem ;
   }
   .services{
    width: 100vw !important;
   }
   .sections{
    grid-template-columns: repeat(1,6fr);
   }
   .sectionImg{
    width: 340px !important;
   }
   .testimonials{
    width: 100vw !important;
   }
   .flex{
    flex-direction: column;
   }
   .flex1{
    flex-direction: column;
   }
   .main-wrapper{
    width: 100vw !important;
   }
   .contact{
    width: 100vw !important;
   }
   .wrapper2 ul{
    padding: 0px;
    width: auto;
    gap: 0;
   }
   .wrapper2{
    width: 410px !important;
   }
   .wrapper2 p{
    text-align: end;
   }
   #chat{
    right: 10rem !important;
   }
   #social-icons{
    right: 10rem !important;
   }
   #scrollUp{
    right: 15rem !important;
   }
}
@media (max-width: 480px) {
    .Wrapper img{
        width: 30px !important;
     }
     .Wrapper span{
         font-size: 14px !important;
 
     }
     nav{
         width: 45% !important;
     }
     .navLink{
         display: none;
     }
    .navImg{
     display: block;
     padding: 5px;
    }
    .hero{
     flex-direction: column !important;
     background-color: rgba(247, 245, 245, 0.521);
    }
    .main-data{
     width: 300px !important;
     padding: 2rem;
    }
    .hero img{
     width: 100% !important;
    }
    .about{
     flex-direction: column-reverse;
     text-align: left;
    }
    .data{
     width: 200px !important;
     padding: 0;
    }
    .about img{
     width: 100% !important;
     height: 40% !important;
    }
    .categories{
        padding: 2rem;
    }
    .store{
     padding: 0 !important;
     row-gap: 20px;
     width: 350px !important;
     justify-content: flex-start !important;
    }
    .wrapper{
     flex-direction: column-reverse;
     width: auto !important;
     background-color: #f2ece4;
    }
    .wrapper img{
     width: 100% !important;
    }
    .container h1{
     padding-left: 5rem;
    }
    .container p{
     line-height: 2rem ;
    }
    .sections{
     grid-template-columns: repeat(1,6fr);
    }
    .sectionImg{
     width: 340px !important;
    }
    .flex{
     flex-direction: column;
    }
    .flex1{
     flex-direction: column;
    }
    .wrapper2 ul{
     padding: 0px;
     width: 250px  !important;
     gap: 0;
     overflow: hidden;
    }
    .wrapper2{
     width: 280px !important;
     margin: 0;
    }
    .wrapper2 p{
     padding-left: 2rem;
    }
    #scrollUp{
     right: 6rem !important;
    }
}
  